* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background-color: #faf1f1;
  display: grid;
}

.container {
  max-width: 1220px;
  width: 70%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto 37%;
  margin: auto;
  align-content: center;
  column-gap: 35px;
  padding-top: 3%;
  filter: drop-shadow(7px 4px 7px #949494);
}

hr {
  border-top: #4b4a4a;
}

.bcart {
  line-height: 1;
  background-color: #1b1a19;
  color: #fffefe;
  padding: 2.8%;
  border-radius: 10px;
  margin: 5%;
}

.bcare {
  line-height: 2;
  background-color: #1b1a19;
  color: #fffefe;
  border-radius: -3px;
  padding: 2.9%;
  margin: 5%;
}

.bcar {
  background-color: #1b1a19;
  color: #fffefe;
  border-radius: 3px;
  font-size: large;
  padding: 0.3%;
}

.main-heading {
  text-align: center;
  align-content: center;
  font-size: 45px;
  margin-top: 5%;
}

#p1 {
  padding: 1%;
  text-align: center;
  font-size: 15px;
}

.pho1 {
  width: 100%;
  height: 35vh;
  background-size: cover;
}

.walk {
  width: 100%;
  height: 30vh;
}

.b1-fig {
  background-color: white;
  width: 100%;
  margin-top: -4px;
  border-radius: 1%;
  line-height: 2;
  border: 1px solid #bbb;
}

.b1-fig2 {
  width: 100%;
  background-color: #fbfffa;
  margin-top: -4px;
  border-radius: 1%;
  line-height: 2.2;
  border: 1px solid #dcd6d6;
}

.picture1 {
  margin-bottom: 0.5rem;
}

.pop {
  width: 64px;
}

.eyes {
  width: 100%;
  background-size: cover;
}

.vert {
  display: block;
  padding-bottom: 2%;
}

.hori {
  filter: drop-shadow(7px 4px 7px #949494);
}

.av {
  grid-template-columns: auto auto;
  background-color: #fffffe;
  padding: 2px;
  margin-top: 50px;
  width: 100%;
  border: 1px solid #cfcaca;
  border-radius: 2%;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  display: flex;
}

.pop1 {
  font-size: large;
  background-color: #e9e9e9;
  padding: 2%;
  border-radius: 3px solid black;
  margin-bottom: 2%;
}

.namy {
  width: 100%;
  height: 22vh;
  background-color: #f5f5f5;
  margin-top: -4px;
  line-height: 1.6;
  border-radius: 1%;
  border: 1px solid #f3edf3;
}

.tgbtn {
  color: #1b1a19;
  background-color: white;
  text-decoration: #1b1a19;
}

.tag {
  background-color: #fffffe;
  width: 100%;
  height: 25vh;
  border: 1px solid #cfcaca;
  border-radius: 2%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.taghh {
  padding: 2%;
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #e9e9e9;
  line-height: 2.3;
}

.blog2 {
  width: 100%;
}

header {
  font-size: 1.4rem;
  padding-left: 1%;
}

.btn1 {
  background-color: #f4f1f1;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  padding: 1rem;
  width: 8vw;
  margin: 9%;
}

.btn2 {
  background-color: #f6f6f6;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  padding: 1rem;
  width: 8vw;
  margin: 9%;
}

.pt {
  font-size: 10px;
  text-align: right;
}

h3 {
  padding-left: 1%;
}

.hd1btn {
  padding-left: 2%;
}

.hd1btn :hover {
  background-color: #191818;
  color: #dad1d1;
  transition: 1s;
}

.pp {
  display: flex;
  line-height: 2;
  gap: 2%;
  margin-left: 7px;
  padding: 10px;
}

.ppl {
  display: flex;
  line-height: 2;
  gap: 2%;
  margin-left: 7px;
  padding: 10px;
}

.ppl :hover {
  background-color: #cbc2c2;
  color: #191818;
  transition: 1s;
}

.pp :hover {
  background-color: #cbc2c2;
  color: #191818;
  transition: 1s;
}

.senam {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24vw;
  align-items: center;
}

.senam1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24vw;
  align-items: center;
}

.bt {
  padding-right: 5%;
}

.btp {
  padding-right: 5%;
}

.fb1 {
  background: #c4c4c4a8;
  color: white;
  border: 1px solid #191818;
  width: 8%;
  padding: 0.7rem;
  font-size: large;
}

.fb2 {
  color: white;
  border: 1px solid #191818;
  background: #191818;
  width: 8%;
  padding: 0.7rem;
  font-size: large;
}

.fbutton {
  margin-bottom: 3%;
  margin-left: 2%;
}

.frame {
  padding-top: 2%;
  background-color: #383636c7;
  width: 100%;
  color: white;
}

p {
  margin-left: 1%;
  padding-bottom: 1%;
}

.tar {
  color: white;
  padding: 2px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #919090;
  line-height: 3;
  border-radius: 4px;
}

.tari,
.travel {
  color: #fff;
  background-color: #181616;
  border-radius: 1px solid #fff;
  padding: 1%;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 95%;
    padding: 3%;
  }

  .btn1 {
    width: 20vw;
    font-size: 15px;
  }

  .btn2 {
    font-size: 15px;
    width: 20vw;
    padding-left: 1px;
  }

  .tag {
    margin-bottom: 3%;
  }

  .namy {
    line-height: 1.7;
    height: 20vh;
  }

  .fb1 {
    width: 18%;
  }

  .fb2 {
    width: 16%;
  }

  .senam {
    width: 100%;
  }

  .frame {
    height: 15vh;
    padding: 3%;
  }

  .tar {
    padding: 1%;
  }
}

@media (max-width: 600px) {
  .btn1 {
    width: 40vw;
    margin: 7px;
    font-size: small;
  }

  .btn2 {
    width: 40vw;
    margin: 7px;
  }

  .tag {
    margin-bottom: 30px;
  }

  .namy {
    height: fit-content;
    padding: 5px;
    line-height: 1.7;
  }

  .eyes {
    margin-top: 16px;
  }

  .senam {
    font-size: small;
  }

  .lefteri {
    display: none;
  }

  .ppl {
    display: none;
  }

  .pho1 {
    height: 15vh;
  }

  .walk {
    height: 15vh;
  }

  .fb1 {
    width: 40%;
    padding: 2.7%;
  }

  .fb2 {
    width: 40%;
    padding: 2.7%;
  }

  .container {
    margin: auto;
    padding: 4%;
  }

  .frame {
    height: 20vh;
    padding: 2%;
    margin-top: 8%;
  }

  .lefterit {
    display: none;
  }
}
